*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}


.main{
    width: 100%;
    min-height: 100svh;
    background-image: url(images/gradientbg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}





.navbar {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.menu {
    flex: 1;
}


.icon {
    min-width: 200px;
    height: 70px;
}


.logo{
    color: blanchedalmond;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    cursor: pointer;
}

.logo:hover{
    color: rgb(68, 162, 255);;
    transition: text-shadow 0.5s;
    text-shadow: 5px 2px 5px rgb(115, 115, 115);
}

.menu {
    display: flex;
    justify-content: center;
    flex: 1;
}


ul{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin: 0 20px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-family: Arial;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

ul li a:hover{
    color: rgb(68, 162, 255);
    transition: text-shadow black;
    text-shadow: 5px 2px 5px rgb(115, 115, 115);
}

ul li a:active{
  color: aliceblue;
  transition: color 0.5s;
} 

.search {
    display: flex;
    align-items: center;
    gap: 0px;
    width: 100%;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
}




.srch {
    width: 100%;
    height: 40px;
    background: transparent;
    border: 1px solid rgb(255, 0, 230);
    color: white;
    font-size: 16px;
    padding: 0 10px 0 14px;
    border-radius: 5px 0 0 5px;
    border-right: none;
    font-family: 'Times New Roman';
}


.btn{
    width: 100px;
    background: rgb(69, 0, 118);
    border: 3px solid #000000;
    height: 40px;
    margin-top: 0;
    margin-left: -1px;
    color: white;
    font-size: 15px;
    border-radius: 0 5px 5px 0;
    border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 0 5px 5px 0;
}

.btn:hover{
    color: black;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}



.pc-container h2 {
    font-size: 40px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    margin-bottom: 60px;
    margin-top: 27px;
    color: rgb(255, 255, 255);
    
    
  }
  
  .pc-container {
    position: relative;
    margin-top: 50px;
    padding-bottom: 80px;
}


  
  .pc-container img {
    height: 300px;
    border-radius: 10px;
    position: absolute;
    transition: all 300ms ease;
    margin-top: 50px;
    
  }
  
 .pc-container .images-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    min-height: 350px;
}

  
  .pc-container .images-container img.center {
    box-shadow: 0 4px 40px -4px rgba(0, 0, 0, 0.3);
  }
  
  .pc-container .images-container img.left {

    
    transform: translate(-70%, -55%) rotateZ(-4deg) scale(0.9);
    
  }
  
  .pc-container .images-container img.right {
    transform: translate(20px, 10px) rotateZ(4deg) scale(0.9);
  }
  
  .pc-container .images-container:hover img.center {
    transform: translateY(4px) scale(1.1);
    border: 5px solid black;
  }
  
  .pc-container .images-container:hover img.left {
    transform: translate(-520px, -100px) rotateZ(-60deg) scale(0.8);
    border: 5px solid black;
  }

  .pc-container .images-container:hover img.right { 
    transform: translate(320px, 50px) rotateZ(60deg) scale(0.8);
    border: 5px solid black;
    
  }



  
.budget1-button{
  background-color: #12167d;
  color: #00ffff;
  height: 70px;
  width: 150;
  border-radius: 30px;
  border-width: 3px;
  
 
  font-family: 'Times New Roman';
  font-size: 18px;
  transition: background-color 0.8s;

  cursor: pointer;
}
.budget1-button:hover{
 
  background-color: azure;
  color: black;
  transition: background-color 0.8s;
}

.budget1-button:active{
  transition: background-color 0.8s;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.404);
  transform: translateY(3px);
  transition: transform 0.3s;
}

.budget2-button{
  background-color: #12167d;
  color: #00ffff;
  height: 70px;
  width: 150px;
  border-radius: 30px;
  border-width: 3px;
  
 
  font-family: 'Times New Roman';
  font-size: 18px;
  transition: background-color 0.8s;

  cursor: pointer;
}
.budget2-button:hover{
 
  background-color: azure;
  color: black;
  transition: background-color 0.8s;
}

.budget2-button:active{
  transition: background-color 0.8s;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.404);
  transform: translateY(3px);
  transition: transform 0.3s;
}

.budget3-button{
  background-color: #12167d;
  color: #00ffff;
  height: 70px;
  width: 150px;
  border-radius: 30px;
  border-width: 3px;
 
 
  font-family: 'Times New Roman';
  font-size: 18px;
  transition: background-color 0.8s;

  cursor: pointer;
}
.budget3-button:hover{
 
  background-color: azure;
  color: black;
  transition: background-color 0.8s;
}

.budget3-button:active{
  transition: background-color 0.8s;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.404);
  transform: translateY(3px);
  transition: transform 0.3s;
}


.sliding-text {


    white-space: nowrap;
     animation: slideInAndstop 3s ease-out forwards;



}
@keyframes slide-in-out {
    0% {
        transform: translateX(100%); /* Start off-screen to the right */
    }
    100% {
        transform: translateX(-50%); /* End off-screen to the left */
    }
}

.testing {
font-family: "Roboto",sans-serif;
font-size: 13px;
color: rgb(96, 94, 94);
background: transparent;

text-align: right;

}





.search-wrapper {
    position: relative;
    width: 200px;
    display: flex;
    align-items: center;
}



.auto-type {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaaaaa0f;
    font-size: 15px;
    line-height: 1;
    pointer-events: none;
    font-family: 'Times New Roman';
    white-space: nowrap;
}



.srch {
    width: 100%;
    padding-left: 12px;
}


.text-container {
font-family: "Roboto",sans-serif;
font-size: 90px;
color: white;
position: absolute;
top: 15%;
left: 55%;
transform: translate(-50%, -50%);
width: 100%;
overflow: hidden;

}

.build-buttons {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;
}



@media (max-width: 768px) {


  .navbar {
    flex-direction: column;
    align-items: stretch;
}

.menu ul {
    flex-wrap: wrap;
    justify-content: center;
}

.search {
    justify-content: center;
}

    .menu ul {
        flex-direction: column;
        align-items: center;
    }

    .search {
        width: 100%;
        margin: 10px 0;
        display: flex;
        justify-content: center;
    }

    .budget1-button,
    .budget2-button,
    .budget3-button {
        position: static;
        margin: 10px auto;
        display: block;
        width: 80%;
    }

    .pc-container img {
        height: 200px;
    }
}


@media (max-width: 1600px) {
.scale {
transform: translate(-13%, -12%) scale(0.75);
}
}

@media (max-width: 1600px) {
footer {
margin-top: -450px;
}
}

@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
}

.search {
    margin: 10px auto;
}


  
  .build-buttons {
    flex-direction: column;
}


    .navbar {
        flex-direction: column;
        height: auto;
    }

    .pc-container h2 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .pc-container img {
        height: 200px;
    }
}
